.black-header {
  background-color: #323232 !important;
}

.black-header-btn{
  border: 0px !important;
}

.black-header-btn:hover{
  background-color: #505050e6 !important;
}

.disabled-btn:hover{
  background-color: transparent !important;
  cursor: default !important;
}

.justify-content{
  text-align: justify !important;
}

.center-content{
  text-align: center !important;
}

.list-item-content{
  margin-top: 10px !important;
}

.list-item-title{
  font-family: Nunito Sans,Helvetica,Arial,sans-serif !important;
  font-weight: bold !important;
}
